<div class="signinpage">

    <div class="row d-flex">

        <div class="signinform">

            <div class="signin-title">
                <a href="#"><img src="../../assets/purplelogo.png" alt="logo"> UVERSE</a>
                
            </div>

            <div class="signin-subtitle">
                <h2>Cadastre-se:</h2>
            </div>

            <hr>
            <div class="form">

                <div>
                    <div class="form-group">
                        <label for="usuario">Nome:</label>
                        <input [(ngModel)]="user.nome" class="form-field" type="text" name="nome" id="nome" placeholder="Seu nome">
                    </div>

                    <div class="form-group">
                        <label for="usuario">Usuário:</label>
                        <input [(ngModel)]="user.usuario" class="form-field" type="text" name="usuario" id="usuario"
                            placeholder="E-mail">
                    </div>

                    <div class="form-group">
                        <label for="foto">Link da foto:</label>
                        <input [(ngModel)]="user.foto" class="form-field" type="text" name="foto" id="foto" placeholder="Link da foto">
                    </div>
                </div>

                <div>
                    <div class="form-group">
                        <label for="senha">Senha:</label>
                        <input (input)="confirmaSenha($event)" class="form-field" type="password" name="senha" id="senha" placeholder="Sua senha">
                    </div>

                    <div class="form-group">
                        <label for="confirmaSenha">Confirmar senha:</label>
                        <input [(ngModel)]="user.senha" class="form-field" type="password" name="confirmaSenha" id="confirmaSenha"
                            placeholder="Confirme a sua senha">
                    </div>

                    <div class="form-group">
                        <label for="tipo">Tipo de usuário:</label>
                        <select class="form-field" name="tipo" id="tipo" (change)="tipoUser($event)">
                            <option>Tipo de usuário:</option>
                            <option value="normal">Padrão</option>
                            <option value="adm">Administrador</option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="buttons">
                <button (click)="signin()">Cadastrar</button>
            </div>

            <div class="signin-text">
                <p>Já tem uma conta? <a routerLink='/login'>Clique aqui para entrar!</a></p>
            </div>

        </div>

    </div>

</div>