<div class="loginpage">

    <div class="loginform">
        <div class="login-title">
            <a href="#"><img src="../../assets/purplelogo.png" alt="logo"> UVERSE</a>
        </div>

        <div class="login-subtitle">
            <p>Se não tem uma conta ainda, <a routerLink='/signin'>Cadastre-se!</a></p>
        </div>

        <hr>

        <div class="form-group">
            <label for="usuario">Usuário:</label>
            <input [(ngModel)]="userLogin.usuario" class="form-field" type="text" name="usuario" id="usuario"
                placeholder="E-mail">
        </div>

        <div class="form-group">
            <label for="senha">Senha:</label>
            <input [(ngModel)]="userLogin.senha" class="form-field" type="password" name="senha" id="senha"
                placeholder="Senha">
        </div>

        <div class="buttons">
            <button (click)="entrar()">Entrar</button>
        </div>
    </div>

</div>