@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Sen:wght@700&display=swap');

#img-bg {
    background-image: url('../../assets/loginillustration.png');
    min-height: 620px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position:initial ;
}

.login-title a {
    display: flex;
    text-decoration: none;
    letter-spacing: 7px;
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #502E7D;
    align-items: center;
    justify-content: space-between;
}

.login-title a img {
    width: 110px;
}

.login-subtitle {
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    margin: 15px 0;
}

.login-subtitle p {
    color: black;
}

.login-subtitle a {
    color: #502E7D;
    text-decoration: none;
    margin-left: 3px;
}

hr {
    color: #502E7D;
}

.form-group label {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #502E7D;
    font-weight: bold;
}

.form-group input {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #726CA0;
    padding: 25px;
    border-radius: 25px;
}

button{
width: 200px;
height: 50px;
margin-top: 15px;
position:absolute ;
background: linear-gradient(90deg, #502E7D 33.85%, #F4143C 100%);
border-radius: 80px;
font-family: 'Nunito', sans-serif;
font-size: 20px;
color: white;
font-weight: bold;
}

button:hover {
    background: linear-gradient(90deg, #F4143C 50.85%, #502E7D 100%);
    transform: scale(0.95);
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: all;
}
