@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Sen:wght@700&display=swap');

#img-bg {
    background-image: url('../../assets/loginillustration.png');
    min-height: 100vh;
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-title a {
    display: flex;
    text-decoration: none;
    letter-spacing: 7px;
    font-family: 'Nunito', sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: #502E7D;
    align-items: center;
    justify-content: space-between;
}

.login-title a img {
    width: 110px;
}

.login-subtitle {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    margin: 15px 0;
}

.login-subtitle p {
    color: black;   
}

.login-subtitle a {
    color: #502E7D;
    text-decoration: none;
}

.login-subtitle a:hover {
    color: #F4143C;
    font-weight: bold;
}

hr {
    color: #502E7D;
}

.form-group label {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #502E7D;
    font-weight: bold;
}

.form-field {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #726CA0;
    padding: 10px;
    border-radius: 25px;
    width: 100%;
    border: thin  solid  #726CA0;
}

.form-field:focus {
    border: medium  groove  #502E7D;
    border-color: #502E7D;
    outline: 0;
}

button{
width: 200px;
height: 50px;
background: linear-gradient(90deg, #502E7D 33.85%, #F4143C 100%);
border-radius: 80px;
font-family: 'Nunito', sans-serif;
font-size: 20px;
color: white;
font-weight: bold;
border: none;
}

button:hover {
    background: linear-gradient(90deg, #F4143C 50.85%, #502E7D 100%);
    transform: scale(0.95);
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transition-property: all;
}
