<div class="conteinar-fluid">

    <div class="row d-flex align-items-center">

        <div class="col-md-6" id="img-bg"></div>

        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="login-title">
                        <a href="index.html"><img src="../../assets/logo.png" alt="logo"> UVERSE</a>
                    </div>

                    <div class="login-subtitle">
                        <p>Se não tem uma conta ainda,</p>
                        <a href="index.html">Cadastre-se!</a>
                    </div>

                    <hr>

                    <div class="form-group">
                        <label for="usuario">Usuário:</label>
                        <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Digite seu usuário.">
                    </div>
                    
                    <div class="form-group">
                        <label for="senha">Senha:</label>
                        <input class="form-control" type="password" name="senha" id="senha" placeholder="°°°°°°°°">
                    </div>

                    <div class="d-flex justify-content-center">
                        <button>Entrar</button>
                    </div>

            </div>

        </div>

    </div>

</div>